@use '../../styles/variables' as *;

.spacer {
  display: grid;
  height: calc($header-height + 7em);
  background-color: $color-primary;
  width: 100vw;
  @include breakpoint-md {
    height: $header-height;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  color: $color-white;
  padding: 0.7em;
}

.corner {
  display: flex;
  align-items: center;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.signin {
  min-width: 0em;
  @include breakpoint-md {
    display: block;
    min-width: 8rem;
    padding-inline: 1rem;
  }
}

.divider {
  @include breakpoint-md {
    display: block;
    width: 1px;
    height: 2rem;
    background-color: $color-white;
    opacity: 0.5;
  }
}

.toggle {
  margin-left: 2rem;
  @include breakpoint-md {
    margin-left: 0rem;
    display: block;
    padding-inline: 1rem;
  }
}
