@use '../../styles/variables' as *;

.spacer {
  height: $header-height;
  background-color: $color-primary;
}

.header {
  position: fixed;
  height: $header-height;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  color: $color-white;
  @include restrict-width;
  z-index: 4;
}

.corner {
  display: flex;
  align-items: center;
  display: none;
  @include breakpoint-md {
    display: block;
  }
}

.contents {
  display: flex;
  background-color: #e1e1e1;

  align-items: center;
  justify-content: space-between;
  padding: 0.7em;
  width: 100%;
  height: 100%;
  position: relative;
}

.signin {
  min-width: 0em;
  display: none;
  @include breakpoint-md {
    display: block;
    // min-width: 8rem;
    padding-inline: 1rem;
  }
}

.divider {
  display: none;
  @include breakpoint-md {
    display: block;
    width: 1px;
    height: 2rem;
    background-color: $color-white;
    opacity: 0.5;
  }
}

.toggle {
  display: none;
  margin-left: 2rem;
  @include breakpoint-md {
    margin-left: 0rem;
    display: block;
    padding-inline: 1rem;
  }
}
