@use '@/styles/variables.scss' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  height: 100%;
  font-size: large;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.text {
  font-weight: bold;
  font-size: large;
  display: none;

  @include breakpoint-sm {
    display: block;
  }
}
