.ClusterManagement {
  height: 300vh;
}
.card {
  height: 106px;
  width: 313px;
  left: -717px;
  top: -468px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: #404446;
}

.name {
  background-color: #404446;
}

.date {
  font-family: Mulish;
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-align: center;
}
// typography {
//   font-family: Mulish;
//   font-size: 25px;
//   font-weight: 700;
//   line-height: 31px;
//   letter-spacing: 0.4000000059604645px;
//   text-align: left;
// }
