@use '../../styles/variables.scss' as *;

.container {
  list-style: none;
  width: 100%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.5em 0.75em;
  color: white;
  background-color: $color-charcoal;
}

.preview {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.details {
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

@mixin detail-section {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-x: hidden;
}

.main {
  @include detail-section;
}

.info {
  @include detail-section;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.native {
  @include detail-section;
}

.nativeToggle {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.pre {
  font-family: monospace;
  font-size: small;
  white-space: pre-wrap;
  word-break: break-all;
  // margin-left: 0.5rem;
  background-color: #3b3b3b;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
