.teamLink {
  padding: 0.5em 0;
  background-color: rgba(154, 208, 255, 0.147);
  transition: 200ms;
  border-radius: 1em;
  box-shadow: 3px 3px 23px -3px rgba(0, 82, 185, 0.75);
  -webkit-box-shadow: 3px 3px 23px -3px rgba(0, 82, 185, 0.75);
  -moz-box-shadow: 3px 3px 23px -3px rgba(0, 82, 185, 0.75);
  width: 27vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    transition: 200ms;
  }
  a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px blue,
      0 0 30px blue, 0 0 40px blue, 0 0 55px blue, 0 0 75px blue;
  }
  .Link{
    padding: 0 1em;
    a{
      padding: 1em;
    }
  }
}
.teamLink:hover {
  box-shadow: 3px 3px 23px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 23px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 23px -3px rgba(0, 0, 0, 0.75);
}