@use '@/styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - $header-height);
  width: 100vw;
  text-align: center;
    @include breakpoint-md {
    width: 50vw;
  }
}

.logo {
  width: 15em;
  height: 15em;
}
