@use '@/styles/variables.scss' as *;

.layout {
  display: grid;
  grid-template-columns: auto;
  padding-block: 2rem;
  @include breakpoint-md {
    gap: 2rem;
    padding-block: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    aspect-ratio: 1;
    max-width: 100%;
    object-fit: contain;
  }
}
