@use './variables.scss' as *;

:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorWhite: $color-white;
  fontMain: $font-main;
}

.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
