@use 'variables.scss' as *;

body {
  // background: $color-dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-main;
}

a {
  text-decoration: none;
  color: inherit;
}
