@use '../../styles/variables.scss' as *;
.container {
  display: none;

  @include breakpoint-md {
    width: 240px;
    position: fixed;
    height: calc(100vh - $header-height);
    top: $header-height;
    left: 0;
    // background-color: $color-charcoal;
    // display: flex;
    // flex-direction: column;
    // position: relative;
    display: inline-block;
  }
}

.spacer {
  height: 100vh;
  width: 280px;
  display: none;

  @include breakpoint-md {
    display: block;
  }
}
