@use '../../styles/variables.scss' as *;

.desktop {
  display: none;

  @include breakpoint-md {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-right: 1rem;
  }
}

.link {
  transition: color 0.2s ease-in-out;
  color: black;
  width: 5.2em;
  text-align: center;
  &:hover {
    color: $color-secondary;
  }
  &:last-child {
    margin-top: 1rem;
    @include breakpoint-md {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
}

.mobile {
  display: block;

  @include breakpoint-md {
    display: none;
  }
}

.menuOpen {
  transform: translate(0);
}

.menuClosed {
  transform: translateY(-100%);
}

.menu {
  position: absolute;
  background-color: white;
  color: black;
  list-style: none;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.2s ease-in-out;
  top: $header-height;
  z-index: -1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  a {
    width: 100%;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;

  color: black;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $color-secondary;
  }
}
