/* ClusterSetup */
.clusterSetup {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;

  /* sidebar / bg */
  background: #363740;
}

/* sheet */

.sheet {
  box-sizing: border-box;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background: #454545;
  /* grayscale / divider */
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

/* All Clusters */
.allClusters {
  position: absolute;
  height: 50px;
  left: 42px;
  right: 680px;
  top: 39px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.4px;

  /* Primary/Lightest */
  color: #e7e7ff;
}
/* ////////// */

/* Created Date */
.createdDate {
  position: absolute;
  width: 149px;
  height: 18px;
  right: 224px;
  top: 0px;

  /* Bold/14px */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.2px;

  /* grayscale / gray */
  color: #9fa2b4;
}
/* //////// */

/* Status */
.status {
  position: absolute;
  width: 111px;
  height: 18px;
  right: 67px;
  top: 0px;

  /* Bold/14px */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.2px;

  /* grayscale / gray */
  color: #9fa2b4;
}
/* /////// */
/* divider */
.divider {
  position: absolute;
  height: 0px;
  left: 0px;
  right: 0px;
  top: calc(50% - 0px / 2);

  /* grayscale / divider */
  border: 1.5px solid #dfe0eb;
}
/* Ticket name */
.clusterName {
  position: absolute;
  height: 20px;
  left: 42px;
  right: 672.96px;
  top: calc(50% - 20px / 2 - 10px);

  /* SemiBold/14px */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;

  /* Primary/Lightest */
  color: #e7e7ff;
}
/* Ticket Date */
.clusterDate {
  position: absolute;
  height: 16px;
  left: 42px;
  right: 672.96px;
  top: calc(50% - 16px / 2 + 12px);

  /* Regular/12px */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;

  /* grayscale / gray light */
  color: #c5c7cd;
}
/* ////////// */

/* status cirle */
.clusterStatus {
  position: absolute;
  height: 14px;
  left: 2px;
  right: 3.02px;
  top: calc(50% - 14px / 2);

  /* Bold 11 (0.5 px, CAPS) */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  /* grayscale / white */
  color: #ffffff;
}
/* ////////// */

/* Vector-triangle */

/* position: absolute;
left: 6.47%;
right: 6.47%;
top: 12.07%;
bottom: 12.5%;

/* Primary/Lightest */
/* border: 1.5px solid #e7e7ff; */

/* ///////// */

/* three dots */
.editDots {
  position: absolute;
  left: 41.67%;
  right: 41.67%;
  top: 16.67%;
  bottom: 16.67%;
  background-image: radial-gradient(circle, #c5c7cd 10px, transparent 11px);

  /* grayscale / gray light */
  background: #c5c7cd;
}
/* ///////// */

/* + button */
.addCluterButton {
  position: absolute;
  width: 44px;
  height: 40px;
  left: 53px;
  top: 864px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.2px;

  color: #ffffff;
}
